<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="logo.png">
    <link href="style.css" rel="stylesheet" type="text/css">
    <title> RecoOne Accueil </title>
  </head>
  <body>
    <header>
      <img src="logo.png" alt="logo RecoOne">
      <h1> Quelle vidéo voulez-vous traiter ?  </h1>
    </header>
    <form>
      <label for="vid">Choisir une vidéo :</label>
      <input type="file" id="vid" name="vid" accept="video/mp4, video/avi">
      <br/>
      <nav>
        <a href="stats.html"> <input type="button" value="Traiter"> </a>
      </nav>
    </form>
  </body>
</html>
