<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="logo.png">
    <link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet" type="text/css">
    <title> RecoOne Statistiques </title>
  </head>
  <body>
    <header>
      <img src="{{ url_for('static', filename='logo.png') }}" alt="logo RecoOne">
    </header>
    <div id="rcorners1">
      <h1> Voici les statistiques de la vidéo :  </h1>
      {% if result %}
        <img id="analyse" src="static/analyse.png">
      {% endif %}
    </div>
    <footer>
        <a id="revenir" href="index.html"> Revenir à l'accueil </a>
    </footer>
  </body>
</html>
