<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="shortcut icon" href="logo.png">
    <link href="{{ url_for('static', filename='../static/style.css') }}" rel="stylesheet" type="text/css">
    <title> ReconOne Statistiques </title>
  </head>
  <body>
    <header>
      <img src="{{ url_for('static', filename='../static/logo.png') }}" alt="logo RecoOne">
    </header>

    <main>
      <div id="rcorners1">
        <h1>Statistiques de la vidéo</h1>
        {% if result %}
          <h3>Débit moyen</h3>
          <img id="analyse" src="static/analyse.png">
          <h3>Nombre de personnes totales</h3>
          {{ nb_total }}
          <h3>Durée totale de la vidéo en secondes</h3>
          {{ duree }}
        {% endif %}
      </div>
    </main>

    <footer>
      <div class="navbar">
        <ul>
          <li> <a id="revenir" href="index.html"> Revenir à l'accueil </a> </li>
        </ul>
      </div>
    </footer>
  </body>
</html>
