<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="logo.png">
    <link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet" type="text/css">
    <title> RecoOne Statistiques </title>
  </head>
  <body>
    <header>
    <img src="{{ url_for('static', filename='logo.png') }}" alt="logo RecoOne">
    <h1> Voici les statistiques de la vidéo :  </h1>
  </header>
  {% if result %}
    <p id="text">{{ result }}</p>
  {% endif %}
  </body>

  <p> {{ vectors }} </p>
  <footer>
      <a href="index.html"> Revenir à l'accueil </a>
  </footer>
</html>
